body {
    font-family: "Roboto", sans-serif;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

a[href] {
    text-decoration: none;
}

.container {
    width: 1150px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.list {
    list-style: none;
    list-style-type: none;
}

.header {
    position: absolute;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-up {
    display: flex;
    align-items: center;
    padding: 15px;
}

.header-link img{
    margin-right: 20px;
}

.header-span {
    display: block;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list .item:not(:last-child) {
    margin-right: 40px;
}

.header-btn {
    margin-left: auto;
}

.nav-list {
    display: flex;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-list-item a {
    padding: 20px 0;
}

.nav {
    position: relative;
}

.nav::before {
    content: "";
    width: 100%;
    height: 1px;
    color: #D9D9DE;
    left: 0;
    bottom: 0;
    position: absolute;
}

.hero {
    max-width: 1920px;
    padding-left: 400px;
    padding-top: 226px;
    padding-bottom: 33px;
    background-image: url(../images/hero-title.jpg);
    margin: 0 auto;
}

.hero-title {
    font-family: PT Serif;
    max-width: 724px;
    font-weight: 700;
    font-size: 90px;
    line-height: 1.3;
    color: #FFFFFF;
    margin-bottom: 8px;
    letter-spacing: 2px;
}

.hero-text {
    max-width: 562px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 94px;
}

.hero-link-tur {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(21 / 18);
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 19px 53px 20px;
    border-radius: 30px;
    margin-bottom: 184px;
}

.hero-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.categories {
    padding: 64px 0;
}

.categiries-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: black;
    padding: 13px 19px 16px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-bottom: -32px;
}
.categories-item {
    width: 256px;
    margin-right: 32px;
    margin-bottom: 32px;
    border: 1px solid #D9D9DE;
    border-radius: 6px;
    overflow: hidden;
}

.gallery {
    /* background-color: #3FA9F5;
    opacity: 0.07; */
    padding-top: 39px;
    padding-bottom: 85px;

}
.gallery-title {
    font-family: PT Serif, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.3;
}
.gallery-link {
    color: #0050B2;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-decoration-line: underline;
    margin-left: auto;
}
.gallery-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.gallery-list {
    display: flex;
    align-items: center;
}

.gallery-list .item:not(:last-child) {
    margin-right: 16px;
}

.gallery-btn {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border: 1px solid #0061D9;
    box-sizing: border-box;
    border-radius: 22px;
}
.gallery-photos {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-top: -32px;
}
.gallery-photos-item {
    width: ((100% - 96px) / 3);
    margin-left: 32px;
    margin-top: 32px;
}
